<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Items</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <item *ngFor = "let item of items"
      [data] = "item"></item>
    </ul>
  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</mat-card>