<mat-card class="example-card">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input [(ngModel)] = "email" name = "email" matInput placeholder="Email">
      <mat-hint>Please enter your Email</mat-hint>
    </mat-form-field>
    <p class="error" *ngIf="error.code == 'auth/invalid-email'">
      {{error.message}}
    </p>
    <br>
    <mat-form-field class="example-full-width">
      <input [(ngModel)] = "password" name = "password" matInput placeholder="Password">
      <mat-hint>Please enter your password</mat-hint>
    </mat-form-field>
    <!-- <p class="error" *ngIf="error.code == 'auth/weak-password'">
      {{error.message}}
    </p> -->
    <div>
      <button mat-stroked-button (click)="login()">
        Log In
      </button>
    </div>
  </form>
</mat-card>
