<button (click) = "toItems()">
  Items
</button>
<button (click) = "toLogin()" *ngIf="!(authService.user | async)">
  Login
</button>
<button (click) = "logOut()" *ngIf="authService.user | async">
    Log Out
</button>