<mat-card class="example-card">
  <mat-card-content *ngIf="authService.user | async">
    Email connected is {{(authService.user | async)?.email}}
  </mat-card-content>
  <mat-card-content *ngIf="!(authService.user | async)">
    Please login to see your list of items
  </mat-card-content>
</mat-card>